<div class="inputs-form">  

    <form 
    [formGroup]="formPaciente"    
    (ngSubmit)="registrarPaciente()">

    <div class="row">
        <!-- INPUT DE NOMBRE -->
        <div class="col-6 ">
            <input 
            [ngClass]="formPaciente.controls['nombre'].errors?.['required'] &&
            formPaciente.controls['nombre'].touched ? 'margin-deleted' : '' "
            class="form-control"
            formControlName="nombre"          
            type="text" 
            placeholder="Nombre" 
            />
            <small
                class="mensaje-error"
                *ngIf="
                        formPaciente.controls['nombre'].errors?.['required'] &&
                        formPaciente.controls['nombre'].touched
                                    "
              >
                El Nombre es requerido
              </small>

        </div>
        <!-- INPUT DE APELLIDO -->
        <div class="col-6 ">
            <input
            [ngClass]="formPaciente.controls['apellido'].errors?.['required'] &&
            formPaciente.controls['apellido'].touched ? 'margin-deleted' : '' "
            class="form-control"
            formControlName="apellido"     
            type="text" 
            placeholder="Apellido" 
            />
            <small
                class="mensaje-error"
                *ngIf="
                        formPaciente.controls['apellido'].errors?.['required'] &&
                        formPaciente.controls['apellido'].touched
                                    "
              >
                El Apellido es requerido
              </small>
        </div>        

        <!-- INPUT DE EDAD -->              
        <div class="col-5">
            <input
            [ngClass]="formPaciente.controls['edad'].errors?.['required'] &&
            formPaciente.controls['edad'].touched ? 'margin-deleted' : '' "
            class="form-control"
            formControlName="edad"     
            type="number" 
            placeholder="Edad" 
            />
            <small
                class="mensaje-error"
                *ngIf="
                        formPaciente.controls['edad'].errors?.['required'] &&
                        formPaciente.controls['edad'].touched
                                    "
              >
                La edad es requerida
            </small>
            <small
        class="mensaje-error"
        *ngIf="
                  formPaciente.controls['edad'].errors?.['min'] ||
                            (formPaciente.controls['edad'].errors?.['max'] &&
                            formPaciente.controls['edad'].touched)
                          "
      >
        La Edad debe ser de 18 a 99 años
      </small>
        </div>

        <!-- INPUT DE DNI -->        
        <div class="col-6 ">
            <input
            [ngClass]="formPaciente.controls['dni'].errors?.['required'] &&
            formPaciente.controls['dni'].touched ? 'margin-deleted' : '' "
            class="form-control"
            formControlName="dni"            
            type="number" 
            placeholder="N° DNI" 
            />
            <small
                class="mensaje-error"
                *ngIf="
                        formPaciente.controls['dni'].errors?.['required'] &&
                        formPaciente.controls['dni'].touched
                                    "
              >
                El DNI es requerido
              </small>
        </div>

        <!-- INPUT DE EMAIL -->        
        <div class="col-12 ">
          <input
          [ngClass]="formPaciente.controls['email'].errors?.['required'] &&
          formPaciente.controls['email'].touched ? 'margin-deleted' : '' "
          class="form-control"
          formControlName="email"            
          type="email" 
          placeholder="Email" 
          />
          <small
              class="mensaje-error"
              *ngIf="
                      formPaciente.controls['email'].errors?.['required'] &&
                      formPaciente.controls['email'].touched
                                  "
            >
              El email es requerido
            </small>
      </div>


      <!-- INPUT DE PASSWORD -->       
      <div class="col-6">
        <input
        [ngClass]="formPaciente.controls['password'].errors?.['required'] &&
        formPaciente.controls['password'].touched ? 'margin-deleted' : '' "
        class="form-control"
        formControlName="password"      
        type="password"
        placeholder="Password" 
        />
        <small
            class="mensaje-error"
            *ngIf="
                    formPaciente.controls['password'].errors?.['required'] &&
                    formPaciente.controls['password'].touched
                                "
          >
            El password es requerido
          </small>
    </div>

        <!-- INPUT DE OBRA SOCIAL -->       
        <div class="col-6 ">
            <input
            [ngClass]="formPaciente.controls['obraSocial'].errors?.['required'] &&
            formPaciente.controls['obraSocial'].touched ? 'margin-deleted' : '' "
            class="form-control"
            formControlName="obraSocial"             
            type="number" 
            placeholder="Obra Social" 
            />
            <small
                class="mensaje-error"
                *ngIf="
                        formPaciente.controls['obraSocial'].errors?.['required'] &&
                        formPaciente.controls['obraSocial'].touched
                                    "
              >
                La Obra Social es requerida
              </small>
        </div>

        <!-- INPUT DE CAPTCHA -->  
        <div class="col-4">
          <p class="captcha">
            {{ captcha }}
          </p>
        </div>

        <div class="col-8">
          <input
            formControlName="captcha"
            type="text"
            class="form-control"
            style="margin-bottom: 0px;"
            placeholder="CAPTCHA"
          />
          <small
            class="mensaje-error"           
            *ngIf="
                    formPaciente.controls['captcha'].errors?.['required'] &&
                    formPaciente.controls['captcha'].touched
                            "
          >
            El Captcha es requerido
          </small>
        </div>

        

        <!-- INPUT DE IMAGEN 1 -->   
        <div class="col-12">
          <div class="input-group">
            <input [disabled]="spinner" type="file" class="form-control"  style="font-size: 10px;" (change)="uploadImage($event, 1)">       
            <label class="input-group-text"  style="font-size: 10px; height: 33px;">Imagen 1</label>            
          </div>          
        </div>

        <!-- INPUT DE IMAGEN 2 -->   
        <div class="col-12">
          <div class="input-group">
            <input [disabled]="spinner" type="file" class="form-control"  style="font-size: 10px;" (change)="uploadImage($event, 2)">       
            <label class="input-group-text"  style="font-size: 10px; height: 33px;">Imagen 2</label>            
          </div>          
        </div>
                
    </div>             
        
    <button [disabled]="spinner" class="button-signup"><div *ngIf="spinner" class="spinner-border" role="status">

      <span  class="spinner visually-hidden">Loading...</span>
     

    </div>Registrar</button>    
    
</form>    
</div>
    