
<div class="body-users">

    <div class="contenedor-spinner" *ngIf="spinner">
        <div class="spinner-list spinner-grow text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    

    <div class="listado-div container" *ngIf="listadoUsuarios && !spinner">
        <div class="text-center">
          <div class="title-lista">
            <h2>Lista de Usuarios</h2>
          </div>            
            <div *ngIf="listadoUsuarios" class="boton-agregar">
                <button (click)="mostrarCreacionPaciente()" class="button-56" role="button">Registrar Nuevo Usuario</button>
            </div>
        </div>
        
        <div class="table-usuarios">
          
          <table class="table">
            <thead>
              <tr>
                <th scope="col">IMAGEN</th>
                <th scope="col">PERFIL</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">APELLIDO</th>
                <th scope="col">ACCIÓN</th>
              </tr>
            </thead>
            <tbody>
              <tr class="tr-tabla" *ngFor="let user of usersList">
                <td>                
                    <img              
                      style="width: 60px;"        
                      src="{{ user.imagen1 }}"
                      alt="imagen"
                    />                              
                </td>
  
                <td style="text-transform: upperCase">
                  <span>{{ user.perfil }}</span>
                </td>
                <td>
                  <span>{{ user.nombre }}</span>
                </td>
                <td>
                  <span>{{ user.apellido }}</span>
                </td>
                <td>
                  <div *ngIf="user.perfil == 'especialista'">
                    <button
                      class="btn-habilitar"
                      *ngIf="!user.aprobado"
                      (click)="updateUser(user, 1)"
                    >
                      Habilitar
                    </button>
                    <button
                      class="btn-deshabilitar"
                      *ngIf="user.aprobado"
                      (click)="updateUser(user, 2)"
                    >
                      Deshabilitar
                    </button>
                  </div>                
                </td>
  
  
  
              </tr>
  
  
            </tbody>
          </table>      
        </div>

    </div>

    <div class="alta-paciente-div" *ngIf="!listadoUsuarios && !spinner">
        <div class="container">
            <div class="text-center">
              <div class="titulo-back">
                <button (click)="volverAListado()"><img src="../../../assets/back.png" style="height: 30px; width: 30px;" alt=""></button>
                <h2>REGISTRO DE USUARIO</h2>
              </div>
                
                <div class="container">
                    <button (click)="cambiarFormulario(1)" [ngClass]="formAdministrador ? 'btn btn-primary' : 'btn btn-outline-primary'" type="button">Administrador</button>
                    <button (click)="cambiarFormulario(2)" [ngClass]="formPaciente ? 'btn btn-primary' : 'btn btn-outline-primary'" type="button">Paciente</button>
                    <button (click)="cambiarFormulario(3)" [ngClass]="formEspecialista ? 'btn btn-primary' : 'btn btn-outline-primary'" type="button">Especialista</button>
                </div>                
            </div>
         
        <div class="container" >            
            <app-form-alta-paciente [tipoRegistro]="tipoRegistro" *ngIf="formPaciente"></app-form-alta-paciente>
            <app-form-alta-especialista [tipoRegistro]="tipoRegistro" *ngIf="formEspecialista"></app-form-alta-especialista>
            <app-form-alta-administrador [tipoRegistro]="tipoRegistro" *ngIf="formAdministrador"></app-form-alta-administrador>

        </div>

        </div>              
    </div>

</div>



