.body-users
{
    margin-top: 190px;
    width: 100%;
}

.btn
{
    margin-top: 15px;
    margin-right: 10px;
}

.spinner-list
{
    --bs-spinner-animation-speed: 2.5s;
    --bs-spinner-width: 6rem;
    --bs-spinner-height: 6rem;
}

.contenedor-spinner
{
    display: flex;
    width: 100%;
    height: 500px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

// ----- Boton de agregar usuarios -----
.button-56 {
  align-items: center;
  background-color: #198754;
//   border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: rgba(8, 27, 44, 0.448);
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: rgb(25,119,204);
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

.boton-agregar
{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.alta-paciente-div
{  
  .container
  {
  width: 60%; 
  }

  .text-center
  {
    margin-bottom: 10px;

    .titulo-back
    {
      display: flex;
      justify-content: center;
      
      button
      {
        background-color: transparent;
        border: none;
      }

    }

    h2
    {
      margin-bottom: 0px;
    }
  }   
}

.listado-div
{
  margin-bottom: 20px;
}