input[type=file]::file-selector-button {
	margin-right: 20px;
	border: none;
	background: #1977cc;
	padding: 10px 20px;
	border-radius: 10px;
	color: #fff;
	cursor: pointer;
	transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
	background: #1977cc;
  }

input, select {
	background-color: #eee;
    border: none;
    padding: 7px 15px;
    /* margin: 8px 0; */
    // margin-top: 10px;
    // margin-left: 8px;
    // margin-right: 8px;
    // width: 45%;
}

.inputs-form
{
	width: 100%;
    height: auto;
	margin-bottom: 15px;
}

button {
	border-radius: 20px;
	border: 1px solid #000;
	background-color: #1977cc;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
.button-signup
{
	margin-top: 10px;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.mensaje-error {
	background: rgba(255, 0, 0, 0.74);
	color: #fff;
	padding: 0px 5px;
	border-radius: 5px;
	text-shadow: 1px 1px #000;
	font-size: 10px;
	margin-top: 0px;
}

.form-control
{
	margin-bottom: 10px;
}

.margin-deleted
{
	margin-bottom: 0px;
}

.spinner-border
{
	margin-right: 10px;   
	--bs-spinner-width: 1rem;
    --bs-spinner-height: 1rem;
}

.captcha {
	font-size: 1rem;
    text-align: center;
    color: black;
    background: #1977cc;
    padding: 0.6rem;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bolder;
    text-shadow: 1px 1px 1px #fff;
  }

