<div class="inputs-form" style="margin-top: 15px;">
    <form 
    [formGroup]="formEspecialista"    
    (ngSubmit)="registrarEspecialista()">

    <div class="row">
        <!-- INPUT DE NOMBRE -->
        <div class="col-6 ">
            <input 
            [ngClass]="formEspecialista.controls['nombre'].errors?.['required'] &&
            formEspecialista.controls['nombre'].touched ? 'margin-deleted' : '' "
            class="form-control"
            formControlName="nombre" 
            id="nombre" 
            type="text" 
            placeholder="Nombre" 
            />
            <small
                class="mensaje-error"
                *ngIf="
                        formEspecialista.controls['nombre'].errors?.['required'] &&
                        formEspecialista.controls['nombre'].touched
                                    "
              >
                El Nombre es requerido
              </small>

        </div>
        
        <!-- INPUT DE APELLIDO -->
        <div class="col-6 ">
            <input
            [ngClass]="formEspecialista.controls['apellido'].errors?.['required'] &&
            formEspecialista.controls['apellido'].touched ? 'margin-deleted' : '' "
            class="form-control"
            formControlName="apellido" 
            id="apellido" 
            type="text" 
            placeholder="Apellido" 
            />
            <small
                class="mensaje-error"
                *ngIf="
                        formEspecialista.controls['apellido'].errors?.['required'] &&
                        formEspecialista.controls['apellido'].touched
                                    "
              >
                El Apellido es requerido
              </small>
        </div>

        <!-- INPUT DE EMAIL -->        
        <div class="col-7 ">
            <input
            [ngClass]="formEspecialista.controls['email'].errors?.['required'] &&
            formEspecialista.controls['email'].touched ? 'margin-deleted' : '' "
            class="form-control"
            formControlName="email" 
            id="email" 
            type="email" 
            placeholder="Email" 
            />
            <small
                class="mensaje-error"
                *ngIf="
                        formEspecialista.controls['email'].errors?.['required'] &&
                        formEspecialista.controls['email'].touched
                                    "
              >
                El email es requerido
              </small>
        </div>

        <!-- INPUT DE EDAD -->              
        <div class="col-5">
            <input
            [ngClass]="formEspecialista.controls['edad'].errors?.['required'] &&
            formEspecialista.controls['edad'].touched ? 'margin-deleted' : '' "
            class="form-control"
            formControlName="edad" 
            id="edad" 
            type="number" 
            placeholder="Edad" 
            />
            <small
                class="mensaje-error"
                *ngIf="
                        formEspecialista.controls['edad'].errors?.['required'] &&
                        formEspecialista.controls['edad'].touched
                                    "
              >
                La edad es requerida
            </small>
            <small
        class="mensaje-error"
        *ngIf="
                  formEspecialista.controls['edad'].errors?.['min'] ||
                            (formEspecialista.controls['edad'].errors?.['max'] &&
                            formEspecialista.controls['edad'].touched)
                          "
      >
        La Edad debe ser de 18 a 99 años
      </small>
        </div>        

        <!-- INPUT DE ESPECIALIDAD -->       
        <div [ngClass]="especialidad ? 'col-6' : 'col-12' ">
            
                <select 
                [ngClass]="formEspecialista.controls['especialidad'].errors?.['required'] &&
            formEspecialista.controls['especialidad'].touched ? 'margin-deleted' : '' "
                class="form-control" 
                formControlName="especialidad"                
                (change)="addEspecialidad()"                
                >
                  <option value="" disabled>Elegir especialidad...</option>
                  <option value="clinico">Clinico</option>
                  <option value="odontologo">Odontologo</option>
                  <option value="oftalmologo">Oftalmologo</option>
                  <option value="">Agregar otra especialidad</option>
                </select>
                <small
        class="mensaje-error"
        *ngIf="
        formEspecialista.controls['especialidad'].errors?.['required'] &&
        formEspecialista.controls['especialidad'].touched && !especialidad
                "
      >
        La especialidad es requerida
      </small>
                        
        </div>

       
          <div *ngIf="especialidad" class="col-6 ">    
            <input
            [ngClass]="formEspecialista.controls['especialidad'].errors?.['required'] &&
            formEspecialista.controls['especialidad'].touched ? 'margin-deleted' : '' "
            class="form-control"
            formControlName="especialidad" 
            id="especialidad" 
            type="text" 
            placeholder="Especialidad" 
            />
            <small
                class="mensaje-error"
                *ngIf="
                        formEspecialista.controls['especialidad'].errors?.['required'] &&
                        formEspecialista.controls['especialidad'].touched
                                    "
              >
                La especialidad es requerida
              </small>    
  
          </div>      

        


        <!-- INPUT DE DNI -->        
        <div class="col-12 ">
          <input
          [ngClass]="formEspecialista.controls['dni'].errors?.['required'] &&
          formEspecialista.controls['dni'].touched ? 'margin-deleted' : '' "
          class="form-control"
          formControlName="dni" 
          id="dni" 
          type="number" 
          placeholder="N° DNI" 
          />
          <small
              class="mensaje-error"
              *ngIf="
                      formEspecialista.controls['dni'].errors?.['required'] &&
                      formEspecialista.controls['dni'].touched
                                  "
            >
              El DNI es requerido
            </small>
      </div>

        <!-- INPUT DE PASSWORD -->       
        <div class="col-12 ">
            <input
            [ngClass]="formEspecialista.controls['password'].errors?.['required'] &&
            formEspecialista.controls['password'].touched ? 'margin-deleted' : '' "
            class="form-control"
            formControlName="password" 
            id="password" 
            type="password"
            placeholder="Password" 
            />
            <small
                class="mensaje-error"
                *ngIf="
                        formEspecialista.controls['password'].errors?.['required'] &&
                        formEspecialista.controls['password'].touched
                                    "
              >
                El password es requerido
              </small>
        </div>

        <!-- INPUT DE IMAGEN 1 -->   
        <div class="col-12">
          <div class="input-group">
            <input type="file" (change)="uploadImage($event)"  class="form-control" id="inputGroupFile02" style="font-size: 10px;">       
            <label class="input-group-text" for="inputGroupFile01" style="font-size: 10px; height: 37px;">Imagen 1</label>            
          </div>          
        </div>       
                
    </div>             
        
    <button [disabled]="spinner" class="button-signup"><div *ngIf="spinner" class="spinner-border" role="status">

      <span  class="spinner visually-hidden">Loading...</span>     

    </div>Registrar</button>    
</form>    


</div>

 